h1{ font-size: 25px;
    text-align: center;
    font: italic;
    color: rgb(34, 20, 32);
    text-decoration:underline solid rgba(1, 85, 211, 0.913);
    
   
}
.bodr{
    border: 3px solid rgb(111, 33, 184) ;
    border-radius: 20px;
    padding: 0px 10px 10px 10px;
    background-color: rgb(10, 108, 75);
}
.im{
    width: 150px;
    height: 150px;
    margin-left: 10px;
}
.di{
    background-color: rgba(145, 105, 165, 0.888);
    border-radius: 20px;
    border: 1px solid darkcyan;
    margin-top: 0px;
    margin-bottom: 10px;
    /* width: 50%;
    height: 50%;
    float: left; */
    
}

.cm{ text-align: center;
    font: italic;
    text-decoration: underline rgb(113, 32, 32);
}

.cc{
    font: italic;
    color: rgb(91, 6, 219) ;
    border-radius: 10px;
    border-bottom: none;
    border: 5px solid rgba(21, 204, 207, 0.849);
    margin-left: 10px ;
    padding: 5px;
}
.in{
    background-color: aqua;
    border-radius: 20px;
    border: solid rgb(94, 47, 134);
    display: block;
    margin-bottom: 5px;
}